<div class="container">
  <div class="row main">
    <div class="panel-heading">
           <div class="panel-title text-center">
              <h1 class="title">InstaNote</h1>
              <hr />
            </div>
        </div> 
    <div class="main-login main-center">
      <%= render "devise/registrations/new"%>
    </div>
  </div>
</div>